@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: black;
  background: white;
  /* This forces the text to be visible */
  font-family: Arial, Helvetica, sans-serif;
}

/* Force headings to be black */
h1, h2, h3, h4, h5, h6 {
  color: black !important;
}

p, span, div {
  color: inherit;
}